# MongoDB Atlas connection
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/<dbname>?retryWrites=true&w=majority

# JWT Configuration
JWT_SECRET=your_secure_jwt_secret

# Admin Credentials
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123

# Google API Configuration
GOOGLE_APP_SCRIPT_ID=AKfycbweaeJUUcqqESTNWj-MsuNrHt2eSKlURwI_-O9DfdVYHIak4zpI_bBSNj96L5fDaaec
GOOGLE_SHEETS_ID=1T-z_wf1Vdo_oYyII5ywUR1mM0P69nvRIz8Ry98TupeE
GOOGLE_API_ACCESS_TOKEN=your_access_token

# Server Port
PORT=3001
