# MongoDB Atlas connection
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/<dbname>?retryWrites=true&w=majority

# Supabase Configuration
SUPABASE_URL=https://yxzcwkqtzmrrdvkuiyan.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl4emN3a3F0em1ycmR2a3VpeWFuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDIzMDgwMDAsImV4cCI6MjA1Nzg4NDAwMH0.90tTXd4jh8Wc9ssXKcCvzLZ_OH_tab0lIYEIMcciOL8
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl4emN3a3F0em1ycmR2a3VpeWFuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0MjMwODAwMCwiZXhwIjoyMDU3ODg0MDAwfQ.BbZ_UK9xzdRGIbszCib03H7BYzkwGf6HvPrUKt7z_d4

# Postgres Connection (Direct)
POSTGRES_URL=postgres://postgres.yxzcwkqtzmrrdvkuiyan:B8axamqMImSa5Hdl@aws-0-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x
POSTGRES_URL_NON_POOLING=postgres://postgres.yxzcwkqtzmrrdvkuiyan:B8axamqMImSa5Hdl@aws-0-us-east-1.pooler.supabase.com:5432/postgres?sslmode=require
POSTGRES_USER=postgres
POSTGRES_PASSWORD=B8axamqMImSa5Hdl
POSTGRES_DATABASE=postgres
POSTGRES_HOST=db.yxzcwkqtzmrrdvkuiyan.supabase.co

# JWT Configuration
JWT_SECRET=Bgi1vHbd0y8Kde4dnpSbotpVmSAl7LqVkCn+/KSHw5RCfEF6Nrys0gb+851l/iSuAgkpIE+/ajdNAPJyd+PRuA==

# Admin Credentials
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123

# Google API Configuration
GOOGLE_APP_SCRIPT_ID=AKfycbweaeJUUcqqESTNWj-MsuNrHt2eSKlURwI_-O9DfdVYHIak4zpI_bBSNj96L5fDaaec
GOOGLE_SHEETS_ID=1T-z_wf1Vdo_oYyII5ywUR1mM0P69nvRIz8Ry98TupeE
GOOGLE_API_ACCESS_TOKEN=your_access_token

# Server Port
PORT=3001
